<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Remote Youtube API</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/font-awesome.min.css" type="text/css">
<style type="text/css">
body{
	background-color:#eee;
}
</style>
</head>

<body>

<div class="container">
	<div class="jumbotron col-xs-10 col-md-10 col-sm-10 col-lg-10">
	
	  <h2>Remote Youtube 
		<span class="hidden-xs hidden-sm">(Desktop)</span>
		<span class="hidden-md hidden-xs hidden-lg">(Tablet)</span>
		<span class="hidden-sm hidden-md hidden-lg">(Mobile)</span>
	  </h2>
	  <p>Youtube Control API is a video-sharing website head-quartered in San Bruno, California. The service was created by three former PayPal employees in February 2005.</p>
	  <p><a class="btn btn-primary btn-lg" href="https://github.com/wcyz666" role="button"><i class="fa fa-github"></i> Find me on GitHub</a></p>
	</div>
	<p class="pull-right text-right col-xs-2 col-md-2 col-sm-2 col-lg-2"><img id="qrcode" class="img-responsive" src="" alt="QR Code"/></p>
</div>	
<div class="container">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="hidden-xs hidden-sm col-md-9 col-lg-9">
					<div class="panel panel-success">
						<div class="panel-heading">YouTube Player</div>
						<div class="panel-body">
						    <div id="player"></div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-lg-3">
					<div class="panel panel-danger">
						<div class="panel-heading">YouTube Remote Control</div>
						<div class="panel-body">
						<div class="container-fluid">
							<div class="row">
								<div class="center-block">
                                    <button class="btn btn-success text-center col-xs-4 video-control" id="play">
										<i class="fa fa-play fa-2x"></i><span class="hidden-md hidden-xs hidden-lg"> PLAY</span>
                                    </button>
                                    <button class="btn btn-danger text-center col-xs-4 video-control" id="pause">
										<i class="fa fa-pause fa-2x"></i><span class="hidden-md hidden-xs hidden-lg"> PAUSE</span>

                                    </button>
                                    <button class="btn btn-warning text-center col-xs-4 video-control" id="stop">
										<i class="fa fa-stop fa-2x"></i><span class="hidden-md hidden-xs hidden-lg"> STOP</span>
									</button>
								</div>
								<br><br><br>
								<div class="center-block">
                                    <button class="btn btn-info text-center col-xs-3 video-control" id="prev">
										<i class="fa fa-fast-backward fa-2x"></i><span class="hidden-md hidden-xs hidden-lg"> PREVIOUS</span>
									</button>
                                    <button class="btn btn-info text-center col-xs-3 video-control" id="rewind">
										<i class="fa fa-backward fa-2x"></i><span class="hidden-md hidden-xs hidden-lg"> REWIND</span>
									</button>
                                    <button class="btn btn-primary text-center col-xs-3 video-control" id="forward">
										<i class="fa fa-forward fa-2x fa-inverse"></i><span class="hidden-md hidden-xs hidden-lg"> FORWARD</span>
									</button>
                                    <button class="btn btn-primary text-center col-xs-3 video-control" id="next">
										<i class="fa fa-fast-forward fa-2x fa-inverse"></i><span class="hidden-md hidden-xs hidden-lg"> NEXT</span>
									</button>
								</div>
								<br><br><br>
								<div class="center-block">
                                    <button class="btn btn-warning text-center col-xs-6 video-control" id="unmute" >
										<i class="fa fa-volume-up fa-2x "></i><span class="hidden-md hidden-xs hidden-lg"> UNMUTE</span>
									</button>
                                    <button class="btn btn-warning text-center col-xs-6 video-control" id="mute">
										<i class="fa fa-volume-off fa-2x"></i><span class="hidden-md hidden-xs hidden-lg"> MUTE</span>
									</button>
		
								</div>
							</div>
						</div>
						</div>
					</div>				
					<div class="panel panel-warning">
						<div class="panel-heading">YouTube PlayList</div>
						<div class="panel-body">
							<ul class="nav nav-pills nav-stacked">
							</ul>
							<br>
							<form class="form" action="/api/add" id="video">
							  <div class="form-group col-xs-10">
								  <input required="required" type="text" class="form-control" id="video_id" placeholder="Video ID or URL">
							  </div>
							  <button type="submit" class="btn btn-primary col-xs-2"><i class="fa fa-plus-square"></i></button>
							</form>
                            <button class="btn btn-default center-block col-xs-12" id="clearall">Clear All</button>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container">
<footer class="footer"><p class="text-center">Wang Cheng, 2015. All Right reserved.</p></footer>
</div>

</body>
<script src="/socket.io/socket.io.js"></script>

<script>

var socket = io.();
var roomNum = /^.*\/(.*)$/.exec(window.location.href)[1];
socket.emit("subscribe", roomNum);

window.el = function(id, rg){
    var range = rg || document;
    return range.getElementById(id);
};
window.qs = function(selector, rg){
    var range = rg || document;
    return range.querySelector(selector);
};

window.qsa = function(selector, rg){
    var range = rg || document;
    return range.querySelectorAll(selector);
};

window.createNode = function(tag, child, attrs){
    var outerTag = document.createElement(tag);
    var content;
    if (typeof child === "string"){
        content = document.createTextNode(child);
        outerTag.appendChild(content);
    }
    else {
        if (child instanceof Array){
            for (var index in child) {

                content = child[index];
                if (typeof content === "string") {
                    content = document.createTextNode(content);
                }
                else if (typeof content === "function")
                    continue;
                outerTag.appendChild(content);
            }
        }
        else{
            outerTag.appendChild(child);
        }
    }

    for (var key in attrs) {
        outerTag.setAttribute(key, attrs[key]);
    }
    return outerTag;
};

Node.prototype.appendChildren = function(children){
    for (var child in children){
        this.appendChild(child);
    }
};
String.prototype.escapeHTML = function() {
    return this.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');
};
String.prototype.escapeQuotes = function() {
    return this.replace(/"/g,'&quot;').replace(/'/g,'&#39;');
};
Array.prototype.removeAt = function(from, to) {
    var rest = this.slice((to || from) + 1 || this.length);
    this.length = from < 0 ? this.length + from : from;
    return this.push.apply(this, rest);
};
NodeList.prototype.forEach = Array.prototype.forEach;

window.getList = function(){
    return JSON.parse(window.localStorage.getItem("playlist")) || {};
};
window.removeList = function(){
    window.localStorage.setItem("playlist", JSON.stringify({}));
};
window.saveList = function(list){
    window.localStorage.setItem("playlist", JSON.stringify(list));
};
window.removeItem = function (id){
    var list = window.getList();
    delete(list[id]);
    window.saveList(list);
};
window.saveItem = function (id, title){
    var list = window.getList();
    list[id] = title;
    window.saveList(list);
};
window.getVideoIds = function(){
    var list = window.getList();
    var ids = [];
    for (var id in list)
        ids.push(id);
    return ids;
};

var player;

function MyYT(){
    var outer = this;
    this.playList = qs("ul.nav");
    this.playList.form = qs("form");
    this.current = 0;
    this.playList.ids = getVideoIds();
    this.playList.showError = false;
    this.playList.getList = window.getList;

    socket.on("control", function(data){
        console.log(data);
        switch (data.action){
            case "pause":
                if (player)
                    player.pauseVideo();
                break;
            case "play":
                if (player)
                    player.playVideo();
                break;
            case "stop":
                if (player)
                    player.stopVideo();
                break;
            case "mute":
                if (player)
                    player.mute();
                break;
            case "unmute":
                if (player)
                    player.unMute();
                break;
            case "rewind":
                if (player) {
                    currentTime = player.getCurrentTime();
                    player.seekTo(currentTime - 2.0);
                }
                break;
            case "forward":
                if (player) {
                    currentTime = player.getCurrentTime();
                    player.seekTo(currentTime + 2.0);
                }
                break;
            case "next":
                outer.current++;
                if (outer.current == outer.playList.ids.length)
                    outer.current = 0;
                if (player) {
                    player.loadVideoById(outer.playList.ids[outer.current]);
                }
                if (qs('.active', outer.playList))
                    qs('.active', outer.playList).className = "";
                outer.playList.list[outer.current].className = "active";
                break;
            case "prev":
                outer.current--;
                if (outer.current < 0)
                    outer.current = outer.playList.list.length - 1;
                if (player) {
                    player.loadVideoById(outer.playList.ids[outer.current]);
                }
                if (qs('.active', outer.playList))
                    qs('.active', outer.playList).className = "";
                outer.playList.list[outer.current].className = "active";

                break;
            case "playById":
                console.log(player, data.id);
                if (player)
                    player.loadVideoById(data.id);
                if (qs('.active', outer.playList))
                    qs('.active', outer.playList).className = "";
                var index = outer.playList.getIndexById(data.id);
                outer.current = index;
                var list = outer.playList.childNodes;
                for (var li in list)
                    if (list[li].firstElementChild && list[li].firstElementChild.getAttribute("name") == data.id) {
                        list[li].className = "active";
                        break;
                    }
                break;
            case "clearall":
                window.removeList();
                outer.current = 0;
                outer.playList.ids = [];
                while (outer.playList.firstChild) {
                    outer.playList.removeChild(outer.playList.firstChild);
                }
                outer.playList.listBinding();
                break;
        }
    });
    socket.on("add", function (data) {
        console.log(data);
        if (!(data.id in outer.playList.ids)){
            outer.addNewVideo(data.id, data.title);
        }
    });

    socket.on("remove", function (data) {
        console.log(data);
        var flag = false;
        for (var index in outer.playList.ids)
            if (outer.playList.ids[index] == data.id) {
                flag = true;
                break;
            }
        if (flag) {
            var index = outer.playList.getIndexById(data.id);
            window.removeItem(outer.playList.ids[index]);
            outer.playList.ids.removeAt(index);
            var list = outer.playList.childNodes;
            for (var li in list)
                if (list[li].firstElementChild && list[li].firstElementChild.getAttribute("name") == data.id) {
                    outer.playList.removeChild(list[li]);
                    break;
                }

            if (outer.playList.list[index].className == "active" && outer.playList.ids.length > 0) {
                outer.playList.firstElementChild.className = "active";
                if (player)
                    player.loadVideoById(outer.playList.ids[0]);
                outer.current = 0;
            }
            outer.playList.listBinding();
            index = 0;
            for (index in outer.playList.ids) {
                if (outer.playList.list[index].className == "active")
                    break;
                index++;
            }
            outer.current = parseInt(index);

            return false;
        }
    });

    this.playList.generateLi = function(id, title){
        var closeChar = createNode("span", "×", {"aria-hidden" : true});
        var closeBtn = createNode("button", closeChar, {"class": "close pull-right", "type": "button"});
        var arch = createNode("a", [id + " : " + title, closeBtn], {"name": id});
        var li = createNode("li", arch, {"role": "presentation"});
        outer.playList.closeEventBinding(closeBtn);
        li.style.cursor = "pointer";
        outer.playList.listEventBinding(li);
        return li;
    };

    this.playList.generateHTML = function(localList){
        for (var key in localList) {
            var listItem = outer.playList.generateLi(key, localList[key]);
            outer.playList.appendChild(listItem);
        }
    };

    this.playList.listEventBinding = function(li){
        li.onclick = function(){
            if (qs('.active', outer.playList))
                qs('.active', outer.playList).className = "";
            li.className = "active";
            var index = outer.playList.getIndexById( li.firstElementChild.getAttribute("name"));
            outer.current = index;
            if (player)
                player.loadVideoById( outer.playList.ids[index] );
            socket.emit("control", {"room": roomNum, "action": "playById", "id": outer.playList.ids[index]});
            return false;
        };
    };

    this.playList.closeEventBinding = function(closeChar) {
        closeChar.onclick = function (event) {
            event.stopPropagation();
            var item = this.parentNode.parentNode;
            var index = outer.playList.getIndexById(this.parentNode.getAttribute("name"));
            window.removeItem(outer.playList.ids[index]);
            socket.emit("remove", {"room": roomNum, "id": outer.playList.ids[index], "playlist": window.getList()});
            outer.playList.ids.removeAt(index);
            outer.playList.removeChild(item);
            if (outer.playList.list[index].className == "active" && outer.playList.ids.length > 0) {
                outer.playList.firstElementChild.className = "active";
                if (player)
                    player.loadVideoById(outer.playList.ids[0]);
                outer.current = 0;
            }
            outer.playList.listBinding();
            index = 0;
            for (index in outer.playList.ids) {
                if (outer.playList.list[index].className == "active")
                    break;
                index++;
            }
            outer.current = parseInt(index);
            return false;
        };
    };

    this.playList.listBinding = function () {
        outer.playList.removeChar = qsa("span[aria-hidden]", outer.playList);
        outer.playList.list = qsa("ul.nav li");
    };

    this.playList.getIndexById = function (id){
        var index = 0;
        for (index in outer.playList.ids){
            if (outer.playList.ids[index] == id)
                break;
            index++;
        }
        return parseInt(index);
    };

    this.encodeParam = function(obj) {
        var data = [];
        for (var key in obj)
            data.push(encodeURIComponent(key) + '=' + encodeURIComponent(obj[key]));
        return data.join('&');
    };

    this.ajax = function(opt) {
        opt = opt || {};
        var xhr = (window.XMLHttpRequest)
                        ? new XMLHttpRequest()
                        : new ActiveXObject("Microsoft.XMLHTTP"),
                async = opt.async !== false,
                success = opt.success || null,
                error = opt.error || function(){alert('AJAX Error: ' + this.status)};

        xhr.open(opt.method || 'GET', opt.url || '', async);

        if (opt.method == 'POST')
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        if (async)
            xhr.onreadystatechange = function(){
                if (xhr.readyState == 4) {
                    var status = xhr.status, response = xhr.responseText;
                    if ((status >= 200 && status < 300) || status == 304 || status == 1223) {
                        success && success(response);
                    } else if (status >= 500)
                        error();
                }
            };
        xhr.onerror = function(){error()};

        // POST parameters encoded as opt.data is passed here to xhr.send()
        xhr.send(opt.data || null);
        // Synchronous Call blocks UI and returns result immediately after xhr.send()
        !async && callback && callback(xhr.responseText);
    };

    this.playList.init = function(){

        outer.playList.generateHTML(outer.playList.getList());

        outer.playList.listBinding();

        el("clearall").onclick = function(){
            window.removeList();
            outer.current = 0;
            outer.playList.ids = [];
            while (outer.playList.firstChild) {
                outer.playList.removeChild(outer.playList.firstChild);
            }
            outer.playList.listBinding();
            socket.emit("control", {"room": roomNum, "action": "clearall"});
        };

        outer.controllerInit();

        outer.playList.form.onsubmit = function(){
            var id = qs("form input").value; //"AIMP7TGcNuE"
            if (id.indexOf('http') != -1)
                id = /^[^?]*\?v=(.*)$/i.exec(id)[1];
            qs("form input").value = "";
            outer.ajax({
                method: 'POST',
                url: outer.playList.form.getAttribute('action'),
                data: outer.encodeParam({"vid": id}),
                success: function(json){
                    json = JSON.parse(json);
                    if (json["status"] == 200){
                        outer.addNewVideo(id, json["title"]);
                        socket.emit("add", {"room": roomNum, "id": id, "title": json["title"], "playlist": window.getList()});
                    }
                    else{
                        if (!outer.playList.showError){
                            //var warning = window.createNode("div", "Incorrect Video ID", {"class": "alert alert-danger", "role": "alert"});
                            //outer.playList.appendChild(warning);
                            alert("Incorrect Video ID");
                        }
                    }
                }
            });
            return false;
        };

        if (outer.playList.ids.length > 0)
            outer.playList.firstElementChild.className = "active"
    };

    this.addNewVideo = function(id, title){
        var localList = {};
        localList[id] = title;
        outer.playList.generateHTML(localList);
        outer.playList.listBinding();
        window.saveItem(id, title);
        outer.playList.ids.push(id);
        if (player == null && window.innerWidth >= 992.)
            player = outer.createPlayer();
    };

    this.init = function() {
        outer.playList.init();
    };

    this.processQR = function(id, url){
        el(id).src = "https://chart.googleapis.com/chart?cht=qr&chs=500x500&chl=" + encodeURIComponent(url);
    };

    this.controllerInit = function(){
        el('play').onclick = function () {
            if (player)
                player.playVideo();
            socket.emit("control", {"room": roomNum, "action":"play"});
        };
        el('pause').onclick = function () {
            if (player)
                player.pauseVideo();
            socket.emit("control", {"room": roomNum, "action":"pause"});
        };
        el('stop').onclick = function () {
            if (player)
                player.stopVideo();
            socket.emit("control", {"room": roomNum, "action":"stop"});
        };
        el('mute').onclick = function () {
            if (player)
                player.mute();
            socket.emit("control", {"room": roomNum, "action":"mute"});
        };
        el('unmute').onclick = function () {
            if (player)
                player.unMute();
            socket.emit("control", {"room": roomNum, "action":"unmute"});
        };
        el('rewind').onclick = function () {
            if (player) {
                currentTime = player.getCurrentTime();
                player.seekTo(currentTime - 2.0);
            }
            socket.emit("control", {"room": roomNum, "action":"rewind"});
        };
        el('forward').onclick = function () {
            if (player) {
                currentTime = player.getCurrentTime();
                player.seekTo(currentTime + 2.0);
            }
            socket.emit("control", {"room": roomNum, "action":"forward"});
        };
        el('next').onclick = function () {

            outer.current++;
            if (outer.current == outer.playList.ids.length)
                outer.current = 0;
            if (player) {
                player.loadVideoById(outer.playList.ids[outer.current]);
            }
            if (qs('.active', outer.playList))
                qs('.active', outer.playList).className = "";
            outer.playList.list[outer.current].className = "active";
            socket.emit("control", {"room": roomNum, "action":"next"});
        };
        el('prev').onclick = function () {
            outer.current--;
            if (outer.current < 0)
                outer.current = outer.playList.list.length - 1;
            if (player) {
                player.loadVideoById(outer.playList.ids[outer.current]);
            }
            if (qs('.active', outer.playList))
                qs('.active', outer.playList).className = "";
            outer.playList.list[outer.current].className = "active";
            socket.emit("control", {"room": roomNum, "action":"prev"});
        }
    };

    this.createPlayer = function(){
        var player;

        if (outer.playList.ids.length > 0) {
            player = new YT.Player('player', {
                height: '390',
                width: '640',
                playerVars: {'controls': 0},
                videoId: outer.playList.ids[outer.current],
                events: {
                    'onReady': function () {
                    },
                    'onStateChange': function onPlayerStateChange(event){
                            switch( event.data ) {
                                case YT.PlayerState.ENDED:
                                    outer.current++;
                                    if (outer.current == outer.playList.ids.length)
                                        outer.current = 0;
                                    if (player)
                                        player.loadVideoById(outer.playList.ids[outer.current]);
                                    if (qs('.active', outer.playList))
                                        qs('.active', outer.playList).className = "";
                                    outer.playList.list[outer.current].className = "active";
                                    console.log("ended");
                                    socket.emit("control", {"room": roomNum, "action":"next"});
                                    break;
                                case YT.PlayerState.PLAYING:
                                    // ...
                                    break;
                                case YT.PlayerState.PAUSED:
                                    // ...
                                    break;
                                case YT.PlayerState.BUFFERING:
                                    // ...
                                    break;
                                case YT.PlayerState.CUED:
                                    // ...
                                    break;
                                default:
                                // ...
                            }
                    }
                }
            })
        }
        else{
            player = null;
        }
        return player;
    }
}

myYT = new MyYT();

socket.on("suback", function(data){
    var clientCount = Object.keys(data.clientCount).length;
    var tag = document.createElement( 'script' );
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName( 'script' )[ 0 ];
    firstScriptTag.parentNode.insertBefore( tag, firstScriptTag );

    if (clientCount == 1) {
        myYT.init();
        socket.emit("synclist", {"room": roomNum, "playlist": window.getList()});
    }
    else{
        window.removeList();
        socket.on("synclist", function (data) {
            window.saveList(data);
            console.log(data);
            myYT.init();
        });
        socket.emit("sync", {"room": roomNum});
    }
});


myYT.processQR("qrcode", "http://www.baidu.com");


function onYouTubeIframeAPIReady() {
    if ( window.innerWidth >= 992 ) {
        player = myYT.createPlayer();
    }
}

window.addEventListener( 'resize', function() {
    if ( window.innerWidth >= 992 ) {
        if ( player === null ) {
            player = myYT.createPlayer();
        }
    } else {
        player.destroy(); // Destroy the video player
        player = null;
    }
} );

</script>
</html>
